{% extends 'base.html.twig' %}

{% block content %}
    <!-- [ navigation menu ] start -->
    {% include ('partials/top-menu.html.twig') %}
    <!-- [ navigation menu ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    {% block page_contents %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

