{% extends 'layout.html.twig' %}
{% block page_contents %}
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10 title-dark">CAESAR CIPHER</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
        <div class="page-wrapper">
            <div class="row">
                <!-- [ Main Content ] start -->
                <div class="col-12">
                    <div class="card rounded shadow bg-white border border-dark">
                        <div class="card-header">Cipher Text</div>
                        <div class="card-body">
                            <div class="card-text">
                            <textarea class="form-control textarea" id="text-cipher"
                                      placeholder="Text to decipher"
                                      aria-describedby="text-cipher-Help" rows="10"></textarea>
                            </div>
                            <div class="card-footer">
                                <button type="button" id="text-cipher-btn" class="btn btn-glow-primary btn-primary">
                                    Check
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'partials/letterFrequency.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card rounded shadow bg-white border border-dark">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-4">Result</div>
                                <div class="col-6"></div>
                                <div class="col-2 text-right">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend rounded-left">
                                                <span class="input-group-text">Shift</span>
                                            </div>
                                            <input type="number" class="number form-control small"
                                                   min="-25"
                                                   max="25"
                                                   maxlength="4"
                                                   placeholder="Key"
                                                   id="caesar-key">
                                            <div class="input-group-append">
                                                <button type="button" id="caesar-key-btn"
                                                        class="btn btn-glow-primary btn-primary rounded-right">Check
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <textarea id="caesar-result" class="textarea form-control readonly
                                        disabled" rows="10" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('javascript/ciphers/caesar/caesar.js') }}"></script>
    <script src="{{ asset('javascript/ML/caesar.js') }}"></script>
{% endblock %}