{% block lettersFrequency %}
    <div class="card rounded shadow bg-white border border-dark" id="letter-frequency-block">
        <div class="card-body">
                <div id="letters-frequency-chart"></div>
        </div>
    </div>
    <script src="{{ asset('javascript/common/letters-frequency.js') }}"></script>
{% endblock %}

