{% block lettersFrequency %}
    <div class="card rounded shadow bg-white border border-dark" id="letter-frequency-block">
        <div class="card-header">Letters Frequency</div>
        <div class="card-body">
            <div class="card-text">
                <div class="mb-3" id="letters-frequency-chart"></div>
            </div>
        </div>
    </div>
    <script src="{{ asset('javascript/common/letters-frequency.js') }}"></script>
{% endblock %}

